/* Beach Cards */

.beachCard {
    width: 100%;
    min-height: 10em;
    height: 10em;
    border-radius: 1em;
    background: var(--background-color);
    position: relative;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.beachImg {
    width: 30%;
    height: 100%;
    object-fit: cover;
    flex-shrink: 0;
}

.infoSection {
    width: 80%;
    padding: 1em;
    position: relative;
    display: flex;
    flex-direction: column;
}

.beachName {
    font-size: 1em;
    font-weight: bold;
}

.beachInfo {
    width: 100%;
    font-size: 0.8em;
    gap: 0.5em;
}

.beachRating {
    position: absolute;
    top: 1em;
    right: 1em;
    margin: 1em 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;
}

.google-rating {
    display: flex;
    align-items: center;
    gap: 0.3em;
}

.rating {
    font-size: 1em;
}

.arrow {
    position: absolute;
    bottom: 1em;
    right: 1em;
}

button {
    width: 1em;
    height: 1em;
}

.arrow button {
    background: none;
    border: none;
    cursor: pointer;
    margin: 0;
    outline: none;
    border-radius: 50%;
}

.arrow img {
    width: 1em;
    border-radius: 50%;
}

.star {
    width: 1em;
    height: 1em;
}

.score {
    font-size: 0.9em;
    font-weight: bold;
    text-align: center;
}

.score-POOR {
    color: #f44336;
}

.score-OK {
    color: #ff9800;
}

.score-GOOD {
    color: #4caf50;
}

.crowd-low {
    color: green;
}
.crowd-moderate {
    color: orange;
}
.crowd-high {
    color: red;
}
.crowd-unknown {
    color: gray;
}