/* Main Layout */

body {
    background: #DCEEF3 !important;
    color: var(--text-color);
}

.containerSurfers {
    background: linear-gradient(180deg, #72BBCE 0%, #8DC8D8 25.6%, #A7D5E1 46.6%, #C2E2EA 68.6%, #DCEEF3 100%);
}

.beaches {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    width: 90%;
}

/* Controls */

.warningIcon {
    width: 2em;
    animation: blinker 3s linear infinite;
    margin-right: 0.5rem;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

.filterIcon {
    width: 2em;
}

.quoteIcon {
    width: 1.6em;
}

.waveIcon {
    width: 7em;
    margin-bottom: 1em;
}

/* Filter Controls */

.filter {
    width: 3em;
    height: 3em;
    border-radius: 50%;
    background: var(--background-color);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.filterDetails {
    display: flex;
    flex-direction: column;
}

/* Beach Content */

.cards {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cardsContainer {
    width: 80%;
    display: flex;
    gap: 1em;
    flex-direction: column;
}

/* Quote section */

.quoteSection {
    max-width: 25em;
    min-width: 50%;
    padding: 0.4em;
    background-color: var(--background-color);
    border-radius: 0.6em;
    display: flex;
    align-items: center;
    transition: all 1s;
    height: auto;
    min-height: 3.5em;
}

.quote {
    font-size: 1.1em;
    margin-left: 1em;
    width: 100%;
    min-height: 1.5em;
}

/*  Additional Info  */

.additionalInfo {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info {
    margin: 1em;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.infoText {
    font-size: 1.2em;
}


/* Loading animation for retrieving the beaches*/

.loadingBeaches {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    color: #555;
    letter-spacing: 5px;
}

.loadingBeaches span {
    animation: blink 1.5s infinite;
}

.loadingBeaches span:nth-child(1) {
    animation-delay: 0s;
}

.loadingBeaches span:nth-child(2) {
    animation-delay: 0.2s;
}

.loadingBeaches span:nth-child(3) {
    animation-delay: 0.4s;
}

@keyframes blink {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0; }
}
