/* Beach Details Panel */

.beachMoreInfo {
    width: 30em;
    height: 21em;
    border-radius: 1em;
    background: var(--background-color);
    position: relative;
    display: flex;
    flex-direction: column;
    margin-left: 50em;
}

.beachNameMoreInfo {
    padding-top: 1em;
    padding-left: 1em;
    padding-bottom: 0.5em;
    line-height: 1.5em;
    font-weight: bold;
}

.beachDetailsDivMoreInfo {
    display: flex;
}

.beachDetailsTitlesMoreInfo {
    list-style: none;
    font-size: 1.1em;
    line-height: 2em;
    padding-left: 1.4em;
    padding-right: 4em;
}

.beachDetailsResultsMoreInfo {
    list-style: none;
    font-size: 1.1em;
    line-height: 2em;
    padding-left: 1em;
}

.beachDetailsResultsDivMoreInfo {
    border-left: 1px solid black;
}