/* Beach Cards */

.beachCard {
    width: 100%;
    min-height: 10em;
    height: 10em;
    border-radius: 1em;
    background: var(--background-color);
    position: relative;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.beachImg {
    width: 30%;
    height: 100%;
    object-fit: cover;
    flex-shrink: 0;
}

.infoSection {
    width: 60%;
    padding: 1em;
    position: relative;
    display: flex;
    flex-direction: column;
}

.beachName {
    font-size: 1em;
    font-weight: bold;
}

.beachInfo {
    font-size: 1em;
    inline-size: 15em;
    margin-top: 0.5em;
}

.beachRating {
    position: absolute;
    top: 1em;
    right: 1em;
    margin: 1em 1;
    display: flex;
    align-items: center;
    gap: 0.5em;
}

.rating {
    font-size: 1em;
}

.arrow {
    position: absolute;
    bottom: 1em;
    right: 1em;
}

.arrow button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
    margin: 0;
    outline: none;
    transition: box-shadow 0.1s ease;
    border-radius: 50%;
}

.arrow button:hover {
    box-shadow: 0 0 0 4px #64c9d8;
}

.arrow img {
    width: 1em;
    border-radius: 50%;
}

.star {
    width: 1em;
    height: 1em;
}