:root {
    --text-color: #000;
    --background-color: #FFF4E9;
}

body {
    background: #ffdab9ed;
    color: var(--text-color);
}

p {
    font-size: 1.5em;
}

.container2{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(180deg, #72BBCE 0%, #8DC8D8 25.6%, #A7D5E1 46.6%, #C2E2EA 68.6%, #DCEEF3 100%);
    min-height: 100vh;
}

.warningIcon{
    width: 2em;
    animation: blinker 3s linear infinite;
    margin-right: 0.5rem;
}
@keyframes blinker{
    50%{
        opacity: 0;
    }
}

.desc2{
    font-size: 3rem;
}
.city2{
    font-size: 3rem;
}
.weatherIcon2{
    width: 8em;
    height: 8em;
    margin: 3em 2em 3em 0;
}

.filter{
    width: 3em;
    height: 3em;
    border-radius: 50%;
    background: var(--background-color);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-right: 70em;
}

.filterIcon{
    width: 2em;
}

.cardsContainer{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2em;
    margin: 1em 0;
    margin-right: 33em;
}

.beachCard{
    width: 40em;
    height: 8.5em;
    border-radius: 1em;
    background: #FFF4E9;
    position: relative;
}

.beachImg{
    width: 40%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 1em;
    border-bottom-left-radius: 1em;
}

.infoSection{
    position: absolute;
    top: 0;
    right: 0;
    margin: 1em;
}

.beachName{
    font-size: 1em;
    margin-right: 13em;
    font-weight: bold;
}

.beachInfo{
    font-size: 1em;
    inline-size: 15em;
    margin-top: 0.5em;
}

.beachRating{
    position: absolute;
    top: 0;
    right: 0;
    margin: 1em 1;
    display: flex;
    align-items: center;
    gap: 0.5em;
}

.star{
    width: 1em;
    height: 1em;
}

.rating{
    font-size: 1em;
}

.arrow{
    position: absolute;
    top: 5em;
    right: 0.4em;
}

.arrow img{
    width: 1em;
}

.quoteSection{
    position: absolute;
    margin-left: 50em;
    width: 35em;
    height: 2.2em;
    background-color: #FFF4E9;
    margin-top: 27em;
    border-radius: 0.6em;
    padding-left: 2em;
    display: flex;
    align-items: center;
}

.quoteIcon{
    width: 1.6em;
    margin-right: 1em;
}

.quote{
    position: absolute;
    font-size: 1.1em;
    margin-left: 2em;
}

.info{
    position: absolute;
    top: 0;
    right: 0;
    margin: 1em;
    align-items: center;
    margin-right: 18em;
    margin-top: 33em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.waveIcon{
    width: 7em;
    margin-bottom: 1em;
}

.infoText{
    font-size: 1.2em;
}

