.beaches {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    width: 90%;
}

.container2{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(180deg, #72BBCE 0%, #8DC8D8 25.6%, #A7D5E1 46.6%, #C2E2EA 68.6%, #DCEEF3 100%);
    min-height: 100vh;
}

.weatherInfo2{
    display: flex;
    align-items: center;

}

.weatherInfo2 > div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 5em;
}

.weatherInfo2 > div > div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.warningIcon{
    width: 2em;
    animation: blinker 3s linear infinite;
    margin-right: 0.5rem;
}
@keyframes blinker{
    50%{
        opacity: 0;
    }
}

.desc2{
    font-size: 3rem;
}
.city2{
    font-size: 3rem;
}
.weatherIcon2{
    width: 8em;
    height: 8em;
    margin: 3em 2em 7em 0;
}

.filter{
    width: 3em;
    height: 3em;
    border-radius: 50%;
    background: var(--background-color);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.filterDetails {
    display: flex;
    flex-direction: column;
}

.filterIcon{
    width: 2em;

}
.cards{
    width: 60%;
    /* flex-grow: 2; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cardsContainer{
    display: flex;
    gap: 1em;
    flex-direction: column;
    /* width: 90%; */
}

.beachCard {
    width: 100%;
    min-height: 10em;
    height: 10em;
    border-radius: 1em;
    background: #FFF4E9;
    position: relative;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.beachImg{
    width: 30%;
    height: 100%;
    object-fit: cover;
    flex-shrink: 0;
}

.infoSection{
    width: 60%;
    padding: 1em;
    position: relative;
    display: flex;
    flex-direction: column;
}

.beachName{
    font-size: 1em;
    /* margin-right: 13em; */
    font-weight: bold;
}

.beachInfo{
    font-size: 1em;
    inline-size: 15em;
    margin-top: 0.5em;
}

.beachRating{
    /* position: absolute;
    top: 0;
    right: 0; */
    margin: 1em 1;
    display: flex;
    align-items: center;
    gap: 0.5em;
}

.star{
    width: 1em;
    height: 1em;
}

.rating{
    font-size: 1em;
}

.arrow{
    position: absolute;
    top: 5em;
    right: 0.4em;
}

.arrow img{
    width: 1em;
}

.beachMoreInfo {
    width: 30em;
    height: 21em;
    border-radius: 1em;
    background: #FFF4E9;
    position: relative;
    display: flex;
    flex-direction: column;
    margin-left: 50em;
}

.beachNameMoreInfo {
    padding-top: 1em;
    padding-left: 1em;
    padding-bottom: 0.5em;
    line-height: 1.5em;
    font-weight: bold;
}

.beachDetailsTitlesMoreInfo{
    list-style: none;
    font-size: 1.1em;
    line-height: 2em;
    padding-left: 1.4em;
    padding-right: 4em;
}

.beachDetailsResultsMoreInfo {
    list-style: none;
    font-size: 1.1em;
    line-height: 2em;
    padding-left: 1em;
}

.beachDetailsDivMoreInfo {
    display: flex;
}

.beachDetailsResultsDivMoreInfo {
    border-left: 1px solid black;;
}

.quoteSection{
    max-width: 25em;
    min-width: 50%;
    padding: 0.4em;
    background-color: #FFF4E9;
    border-radius: 0.6em;
    display: flex;
    align-items: center;
}

.quoteIcon{
    width: 1.6em;
    /* margin-right: 1em; */
}

.quote{
    /* position: absolute; */
    font-size: 1.1em;
    margin-left: 1em;
}

.info{
    /* position: absolute;
    top: 0;
    right: 0; */
    margin: 1em;
    align-items: center;
    /* margin-right: 18em; */
    /* margin-top: 30em; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.additionalInfo {
    width: 40%;
    /* flex-grow: 5; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.waveIcon{
    width: 7em;
    margin-bottom: 1em;
}

.infoText{
    font-size: 1.2em;
}