
.popup{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);

    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.popup-inner{
    position: relative;
    padding: 32px;
    width: 25em;
    height: 25em;
    background-color: #FFF4E9;
    border-radius: 1em;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.popup-inner .name{
    position: absolute;
    margin-bottom: 6em;
    font-size: 3em;
}


.filterOptions{
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.filterRow{
    display: flex;
    align-items: center;
    gap: 20px;
}

.filterRow label{
    width: 100px;
    font-size: 1.5em;
}


.filterRow select {
    flex: 1;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 10em;
}

.buttons{
    position: absolute;
    display: flex;
    border: none;
    margin-top: 19em;
    gap: 3em;
}

.apply-btn, .cancel-btn, .clear-btn{
    border: none;
    background: none;
    font-size: 1em;
    width: 4em;
    height: 2em;
    border-radius: 0.3em;
    cursor: pointer; 
}

.apply-btn{
    background-color: #72BBCE;
    color: white;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.apply-btn:hover {
    background-color: #5aa3b5;
    transform: scale(1.1);
}

.cancel-btn{
    color: #72BBCE;
    background-color: #fff;
    border: 1px solid #72BBCE;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.2s ease;
}

.cancel-btn:hover {
    background-color: #72BBCE;
    color: white;
    transform: scale(1.1);
}

.clear-btn{
    color: #F25C54;
    background-color: white;
    border: 1px solid #F25C54;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.2s ease;
}

.clear-btn:hover {
    background-color: #F25C54;
    color: white;
    transform: scale(1.1);
}